

/* --- Top bar --- */

  #sr-header-area {
    background: transparent;
    font-size: 11px;
    height: 24px;
    line-height: 22px;
    opacity: .8;
    border-bottom: 1px solid #222;
  }

  #sr-header-area .width-clip br {
    display: none;
  }

  #sr-bar li a {
    color: #bbb;
  }

  #sr-header-area:hover #sr-bar li a {
    color: #fff;
  }

  #sr-more-link {
    background: transparent;
    color: #bbb;
  }

  #sr-more-link:hover {
    background: transparent;
    color: #fff;
  }


/* --- Header --- */

  #header {
    height: 111px;
    margin: 0 0 1px;
    background: #1a1a1b;
  }

  #header-container {
    background-image: url(https://i.imgur.com/wAkXZRG.png);
    background-repeat: repeat;
    background-size: 500px auto;
    height: 112px;
    border-top: 0 solid #222;
    border-bottom: 0 solid #222;
    position: relative;
    margin-top: -24px;
    z-index: -1;
  }

  #header-banner {
    max-width: 100%;
    height: 112px;
    padding-top: 24px;
  }


/* --- Replace the subverse name with our KiA sublogo --- */

  @media (min-width: 796px) {
    .pagename {
      background: url(https://i.imgur.com/Hz5EAjL.png);
      background-repeat: no-repeat;
      background-size: contain;
      bottom: 40px;
      width: 285px;
      height: 43px;
      font-size: 40px;
      margin-left: 20px;
      margin-bottom: 0;
      position: absolute;
    }

    .pagename a {
      color: transparent;
      display: inline-block;
      padding: 0 8px;
    }

    .pagename a:hover {
      color: transparent;
      display: inline-block;
      padding: 0 8px;
    }
  }


/* --- Replace voat logo with our Viv --- */

  @media (min-width: 701px) {
    #header-img-a {
      width: 127px;
      height: 88px;
      background: url(https://i.imgur.com/DCdMj3m.png);
    }

    img#header-img {
      visibility: hidden;
    }
  }


/* --- Hot, new, top, submit, ... --- */

  .tabmenu {
    bottom: 3px;
    font-size: 12px;
    left: 168px;
    line-height: 32px;
    position: absolute;
    top: auto;
  }

  @media (min-width: 871px) {
    .tabmenu {
      left: 148px;
    }
  }

  @media (max-width: 795px) {
    .tabmenu {
      bottom: auto;
      left: auto;
      right: 4px;
      top: 30px;
    }
  }

  @media (max-width: 701px) {
    .tabmenu {
      position: static;
    }
  }

  .tabmenu li.disabled a {
    color: #bbb;
    background: -webkit-linear-gradient(top,transparent,transparent);
    border: none;
    box-shadow: none;
  }

  .tabmenu li.disabled a:hover {
    background: #772a90;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #772a90;
    border-width: 1px 0 2px;
    color: #bbb;
  }

  .tabmenu li.selected a {
    background: #a44cc1;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #a44cc1;
    border-width: 1px 1px 2px;
    color: #fff;
  }

  .tabmenu li.selected a:hover {
    background: #772a90;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #772a90;
    border-width: 1px 1px 2px;
    color: #fff;
  }

  .tabmenu li.disabled a.contribute {
    background: #0ea912;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #0ea912;
    border-width: 1px 1px 2px;
    color: #fff;
  }

  .tabmenu li.disabled a.contribute:hover {
    background: #0c840f;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #0c840f;
    border-width: 1px 1px 2px;
    color: #fff;
  }

  .tabmenu li.selected a.contribute {
    background: #0ea912;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #0ea912;
    border-width: 1px 1px 2px;
    color: white;
    font-weight: normal;
  }

  .tabmenu li.selected a.contribute:hover {
    background: #0c840f;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: solid #0c840f;
    border-width: 1px 1px 2px;
    color: white;
    font-weight: normal;
  }


/* --- User account info --- */

  .logged-in, .logged-out {
    background-image: url(https://i.imgur.com/a4bQBzZ.png);
    background-color: transparent;
    background-repeat: repeat;
    border: 0 solid #dcdcdc;
    border-radius: 0;
    margin: 0 0 1px;
    padding: 4px 10px 5px;
    padding-bottom: 7px;
    vertical-align: top;
    opacity: .7;
  }

  #header-account .separator {
    color: #bbb;
    margin: 0 4px;
  }

  #header-account .user {
    color: #bbb;
  }

  #header-account .user .upvoatsGiven {
    border-bottom: 0 dotted #666;
  }

  #header-account a {
    color: #fff;
  }

  #header-account a:hover {
    color: #818181;
  }

  #header-account .user .userkarma {
    border-bottom: 0 dotted #353535;
  }

  #header-account .user .upvoatsGiven a {
    color: #4aabe7 !important;
    border-bottom: 0 dotted #353535;
    padding-left: 4px;
  }


/* --- Sidebar --- */

  .side {
    float: right;
    margin: 0;
    padding: 0 10px 10px;
    top: -1px;
    transition: 500ms right;
    width: 320px;
  }

  @media (max-width: 870px) {
    .side {
      height: calc(100vh - 100px);
      left: -320px;
    }
  }

  .side form[action="/search"] {
    background-color: #FFF;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    margin-bottom: 82px;
    padding: 10px 10px 8px;
    position: relative;
    top: 73px;
  }

  @media (max-width: 870px) {

    .side form[action="/search"] {
      top: 82px;
      margin-bottom: 90px;
    }
  }

  .dark .side form[action="/search"] input[name="q"], .dark #chatInputBox {
    border-color: #666;
  }

  .side form[action="/search"] label {
    margin-bottom: 0px;
  }

  .side .submissioninfo {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .side .submissioninfo .alert-h2 {
    background-color: #FFF;
    border-bottom: none;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    color: #888;
    padding: 10px 10px 5px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  .dark .side .submissioninfo .alert-h2 {
    color: #d1d1d1;
  }

  .side .submissioninfo div:nth-child(2),
  .side .submissioninfo div:nth-child(4),
  .side .submissioninfo div:nth-child(6) {
    background-color: #FFF;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: none;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .side .submissioninfo div:nth-child(2) p:first-child,
  .side .submissioninfo div:nth-child(4) p:first-child,
  .side .submissioninfo div:nth-child(6) p:first-child {
    margin-top: 0;
    padding-top: 10px;
  }

  .side .submissioninfo .submission-score-box:last-child p:last-child {
    margin-bottom: 0;
  }

  .side .subscribers {
    background-color: #FFF;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    border-radius: 2px;
    display: block;
    padding: 10px 10px 0;
    margin: 10px 0 0;
  }

  .side .users-online {
    background-color: #FFF;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    border-radius: 2px;
    padding: 0px 10px 10px;
    margin: 0 0 .4em;
  }

  .sidecontentbox {
    background-color: #FFF;
    border: 1px solid #d1d1d1;
    padding: 10px;
    position: relative;
  }

  .sidecontentbox .title h1 {
    border: none;
    color: #888;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 10px;
  }

  .dark .sidecontentbox .title h1 {
    color: #d1d1d1;
  }

  .sidecontentbox .content {
    background: transparent;
    border: none;
  }

  .sidecontentbox ul.content {
    padding: 0 5px;
  }

  .side .spacer.spacersection {
    border: none;
    padding: 0;
  }

  .helplink.message-moderators-temporary-class {
    display: none;
  }

  .titlebox .bottom {
    background-color: #FFF;
    border: 1px solid #d1d1d1;
    margin-top: 5px;
    padding: 10px;
  }

  .accordion-inner .sidecontentbox {
    margin-bottom: 2px;
    padding: 0;
  }

  .accordion-toggle {
    position: absolute;
    top: 13px;
    right: 13px;
  }

  .leavemoderator {
    padding: 10px;
    border: 1px solid #d1d1d1;
    background-color: #FFF;
  }

  .side h1.whoaversename {
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #d1d1d1;
  }

  .side h1.whoaversename a:first-child {
    display: none;
  }

  .side h1.whoaversename a:before {
    content: "Subverse RSS feed ";
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .side h1.whoaversename img {
    float: right;
    position: relative;
    top: 3px;
  }

  .side .md blockquote {
    background-color: #FFF;
    border: 1px solid #d1d1d1;
    margin: 5px 0 10px;
    padding: 10px;
  }

  .side .md blockquote h1 {
    border: none;
    font-size: 16px;
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
  }

  .side .md hr {
    display: none;
  }

  .side .md table {
    box-shadow: none;
    background-color: transparent;
    margin: 5px 0 10px;
  }

  .dark .side .md tr,
  .dark .side .md th,
  .dark .side .md td {
    border-color: #444;
  }

  .side .md td, .side .md th {
    padding: 10px;
  }

  .side .md table thead {
    border-bottom: none;
  }

  .dark .side .leavemoderator,
  .dark .side .md blockquote,
  .dark .side form[action="/search"],
  .dark .side .subscribers,
  .dark .side .users-online,
  .dark .sidecontentbox,
  .dark .titlebox .bottom,
  .dark .side h1.whoaversename,
  .dark .side .submissioninfo .alert-h2,
  .dark .side .submissioninfo div:nth-child(2),
  .dark .side .submissioninfo div:nth-child(4),
  .dark .side .submissioninfo div:nth-child(6) {
    background-color: #292929;
    border-color: #444;
  }

/* --- More Buttons --- */

  .titlebox h3 a, .btn-whoaverse-paging.btn-xs.btn-default.btn-sub {
    background-color: rgb(164, 76, 193);
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 17.1599998474121px;
    padding: 5px 12px;
    text-align: center;
    width: 300px;
    text-transform: capitalize;
  }
  .titlebox h3 a, .titlebox h3 a:visited, .titlebox h3 a:active, .titlebox h3 a:hover {
    color: white;
  }
  .btn-whoaverse-paging.btn-xs.btn-default.btn-sub {
    line-height: 29px;
    font-size: 22px;
    margin-bottom: 10px;
    width: 300px;
  }
  .btn-whoaverse-paging:hover {
    border: none;
  }

/* --- List pages --- */

  .btn-whoaverse-paging {
    background: #a44cc1;
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 6px;
    text-align: center;
  }

  .btn-whoaverse-paging a {
    color: #fff !important;
  }

  .btn-whoaverse-paging:hover {
    background: #772a90;
    background: -webkit-linear-gradient(top,);
    background: -moz-linear-gradient(top,);
    background: -ms-linear-gradient(top,);
    background: -o-linear-gradient(top,);
    border: none;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    text-align: center;
  }


/* --- General stuff --- */

  #container {
    background: transparent;
    border: 0 solid #d1d1d1;
    border-radius: 0;
    border-top: 1px solid #222;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 10px 0;
    position: relative;
  }

  .dark #container {
    background-color: #333;
  }

  .content {
    background-color: #FFF;
    border: 1px solid #d1d1d1;
    padding: 5px 10px 10px;
  }

  .dark .content {
    background-color: transparent;
    border-color: #444;
  }

  #container > .content > .sitetable {
    overflow: hidden;
  }

  .btn-whoaverse.contribute {
    border: none;
    color: #fff;
    position: absolute;
    width: 300px;
  }

  @media (max-width: 870px) {
    .btn-whoaverse.contribute {
      width: 283px;
    }
  }

  .btn-whoaverse.contribute.submit-link {
    background: #a44cc1;
    top: 10px;
  }

  .btn-whoaverse.contribute.submit-link:hover {
    background: #772a90;
  }

  .btn-whoaverse.contribute.submit-text {
    background: #0ea912;
    top: 48px;
  }

  .btn-whoaverse.contribute.submit-text:hover {
    background: #0c840f;
  }

  .link a.title.may-blank:visited {
    color: #bbb;
  }

  .link a.title.may-blank:visited {
    color: #bbb;
  }

  .link {
    margin: 0;
    padding: 8px 0;
    margin-left: -20px;
  }

  .midcol {
    background: none;
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    overflow: hidden;
  }

  .link a.subverse {
    font-weight: 400;
  }

  .link .tagline {
    font-size: 11px;
  }

  .link .flat-list {
    font-size: 11px;
    margin: 0;
    padding: 0;
  }

  .thumbnail {
    border-radius: 3px;
    max-width: 65px;
  }

  .md a[href="#s"]::after {
    margin-left: 0;
  }

  .link .md, .comment .md {
    max-width: 60em;
  }

/* --- Link flair styling --- */

  .flair, .promoted {
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    color: #fff;
    line-height: 150%;
    margin-right: 3px;
    padding: 2px 4px;
    vertical-align: middle;
    background-color: #e74c3c;
  }

  .flair.ethics { background-color: #9e0000; }

  .flair.industry { background-color: #65634f; }

  .flair.censorship { background-color: #000; }

  .flair.opinion { background-color: #423a00; }

  .flair.drama { background-color: #8a0067;}

  .flair.humor { background-color: #543e00;}

  .flair.happenings { background-color: #ed871a;}

  .flair.metadiscussion { background-color: #088a85; }

  .flair.verified { background-color: #13e800;}


/* --- Comment flair styling --- */

  .comment a.submitter.author, .comment a.moderator.author {
    padding: 3px 4px;
    border-radius: 3px;
    color: #fff !important;
    font-weight: 700;
  }

  .comment a.submitter.author {
    background-color: #0a7285;
  }

  .comment a.moderator.author {
    background-color: #3fbf4c !important;
  }

  .commentarea .author:after {
    color: #78644F;
  }


/* --- Footer --- */

  .footer-container {
    position: relative;
  }

  .footer-container::before {
    position: absolute;
    display: block;
    right: 0px;
    left: 0px;
    bottom: -75px;
    height: 150px;
    background-image: url("https://i.imgur.com/PeOCIqj.png");
    background-position: top center;
    z-index: -10000;
    content: "";
  }

  .footer-container::after {
    position: absolute;
    display: block;
    right: 0px;
    left: 0px;
    bottom: -325px;
    height: 250px;
    background-image: url("https://i.imgur.com/Jsoyt8c.jpg");
    background-position: top center;
    z-index: -10000;
    content: "";
  }


/* --- Custom flairs! --- */

  .commentarea .author[href="/user/TheHat2"]:after {
    content: " [Old Hatman]";
  }

/* --- Custom subscriber text! --- */

.subscribers .word {
  font-size: 0;
}

.subscribers .word:after {
  content: 'Augmented Death Eaters';
  font-size: 12px;
}

.users-online .word {
  font-size: 0;
}

.users-online .word:after {
  content: 'who shall not be named';
  font-size: 12px;
}
